<h1 align="center">Add New Pet</h1>

<form class="example-form" #addPetForm="ngForm" (ngSubmit)="addNewPet(addPetForm)">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput name = "name" ngModel>
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput name = "type" ngModel>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Breed</mat-label>
      <input matInput name = "breed" ngModel>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput name = "age" ngModel>
    </mat-form-field>
  </p>
  <button mat-flat-button color="primary" type="submit">Add</button>
</form>
