<h1 align="center">Add New Owner</h1>

<form #addOwnerForm="ngForm" class="example-form" (ngSubmit)="addNewOwner(addOwnerForm)">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput name = "firstName" ngModel>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput name = "lastName" ngModel>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput name = "address" ngModel></textarea>
    </mat-form-field>
  </p>

  <p>
    <td>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput #zipCode maxlength="6" name="zipCode" ngModel>
        <mat-hint align="end">{{zipCode.value.length}} / 6</mat-hint>
      </mat-form-field>
    </td>
  </p>


  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Contact Number</mat-label>
      <input matInput name = "contactNumber" ngModel>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" ngModel>
    </mat-form-field></td>
  </tr></table>

  <button mat-flat-button color="primary" type="submit">Add</button>
</form>
