<mat-form-field>
    <mat-label>Find Pets</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name/ID" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let pet"> {{pet._id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let pet"> {{pet.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let pet"> {{pet.age}} </td>
    </ng-container>

    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef> Breed </th>
      <td mat-cell *matCellDef="let pet"> {{pet.breed}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let pet"> {{pet.type}} </td>
    </ng-container>

    <ng-container matColumnDef="regDateTime">
      <th mat-header-cell *matHeaderCellDef> Registered At </th>
      <td mat-cell *matCellDef="let pet"> {{pet.registeredDateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let pet">
        <button mat-flat-button color="accent" class="button-spacing">Edit</button>
        <button mat-flat-button color="warn" class="button-spacing"
        (click)="deletePet(pet._id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

</table>
